.ios, .md{
page-home {
   
   .ion-navbar{
    
    margin: 10px;
   }
   .item-md ion-avatar[item-center]{
      min-width:80px;
      min-height:80px; 
   }
   
   .item {
   margin-top:0;
   
   color:white;
  
   padding: 10px;
   border:1px solid #f1f5f3 !important;

  }
  h2,h3,p{
    color:white;
  }
}
}       

